<!--
    Para exibir o HeroesComponent, você deve adicioná-lo ao modelo do shell AppComponent.
    Lembre-se de que app-heroesé o seletor de elemento para o HeroesComponent. Portanto, 
    adicione um <app-heroes>elemento ao AppComponentarquivo de modelo, logo abaixo do título.

    Pipes são uma boa maneira de formatar strings, valores monetários, datas e outros dados de exibição. 
    O Angular é fornecido com vários tubos integrados e você pode criar o seu próprio.    
-->

<!--
  Atenção: é preciso fazer o import do import { FormsModule } from '@angular/forms'; 
  no app.module.ts
-->

<!--
    O *ngFor é de Angular repetidor directiva. 
    Ele repete o elemento do host para cada elemento em uma lista.

    <li> é o elemento hospedeiro.
    heroescontém a lista de heróis fictícios da HeroesComponentclasse, a lista de heróis fictícios.
    hero contém o objeto herói atual para cada iteração na lista.
-->
<h2>My Heroes</h2>

<h2>My Heroes</h2>
<ul class="heroes">
  <li *ngFor="let hero of heroes">
    <a routerLink="/detail/{{hero.id}}">
      <span class="badge">{{hero.id}}</span> {{hero.name}}
    </a>
  </li>
</ul>